/* Jumbotron - Top Header Box - Dashboard */
.jumbotron {
    background-color: #41B3A3;
    font-family: 'Concert One';
}
/* Use interactive charts */
.jumbotron p {
    font-family: 'Montserrat';
    font-size: 25px;
    padding-top: 20px;
}
/* Test Subject ID Well */
.well {
    background-color: #C38D9E;
    font-family: 'Montserrat';
    text-align: center;
}
/* Well text */
h5 {
    font-family: 'Concert One';
    font-size: 20px;
}
/* Demographic Info Container Box */
.panel-primary>.panel-heading {
    background-color: #E27D60;
    color: #000000;
    border: none;
    
}
.panel-primary {
    border-color: #E27D60;
}
/* Text Inside DI Container Box */
.panel-title {
    font-family: 'Concert One';
    font-size: 20px;
    text-align: center;  
}
/* Metadata inside DI Box */
h4 {
    font-family: 'Montserrat';
    font-size: 15px;
    font-variant: small-caps;
    font-weight: bold;
}
/* Reset Page */
.col-md-10 {
    background-color: #92ddc8;
    border-radius: px;
    font-family: 'Concert One';
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;    
    padding-bottom: 5px;
    margin-left: 12px;
}
.reset {
    color: #000000;
}